{
  "presets": [
    [
      "@babel/preset-env",
      {
        "corejs": 3,
        "useBuiltIns": "usage",
        "debug": true,
        "targets": ["last 2 chrome versions"]
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": []
}

// для того, чтобы узнать какие браузеры
// включены в последние n версий
// можно использовать https://browserl.ist/

// также массив с поддерживаемыми браузерами
// можно указывть в package.json
// в разделе browserslist
// или создать отдельный файл .browserslistrc
